body {
    background-color: rgb(170, 170, 167);
    text-align: center;
}

#sentence {
    color: rgb(50, 45, 45);
    font-family: sans-serif;
}

#sentence-button:hover {
    background-color: antiquewhite;
}
