body {
    background-color: rgb(170, 170, 167);
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

#funny-image {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 3s ease;
}

#funny-image.show {
    opacity: 1;
}

#sentence {
    color: rgb(50, 45, 45);
    font-family: sans-serif;
}

#the-button:hover {
    background-color: antiquewhite;
}
